
<div ng-include="'html/navbar.html'"></div>

<div class="container"> 
      <div class="card">
            <table class="table table-striped table-hover">
               <tbody>
                  <tr>
                     <td>
                        <div class="panel panel-default">
                          <div class="panel-heading">Remote Working Directory: 
                               <div>{{remoteWD}}</div>
                               <nav>
                                   <ul class="pager">
                                       <li class="previous">
                                           <a id="remoteBack" ng-click="cdSSH(sourceDir)">
                                               <span aria-hidden="true">&larr;</span>Go Up
                                           </a>
                                       </li>
                                   </ul>
                               </nav>
                          </div>
                           <div class="panel-body">Available Folders:
                              <ul class="jqueryFileTree" 
                                 ng-repeat="folder in remoteFiles">
                                 <li ng-switch on="folder.Class" class="{{folder.Class}}">
                                     <a id="r{{folder.name}}" ng-switch-when="directory" ng-click="remoteHighlight(folder)" ng-dblclick="cdSSH(folder)">{{folder.name}}</a>
                                     <a id="r{{folder.name}}" ng-switch-default ng-click="remoteHighlight(folder)" ng-dblclick="">{{folder.name}}</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </td>
                     <td>
                        <div class="panel panel-default">
                           <div class="panel-body">
                              <button id="btnDownload" disabled ng-click="downloadCall()" type="button" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true">Download</span>
                              </button>
                              <button id="btnUpload" disabled ng-click="uploadCall()" type="button" class="btn btn-primary btn-block">
                                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">Upload</span>
                              </button>
                              <br/>
                              <div id="tranContent"></div>
                           </div>
                        </div>
                     </td>
                     <td>
                        <div class="panel panel-default">
                           <div class="panel-heading">Local Working Directory:
                               <div>{{localWD}}</div>
                               <nav>
                                   <ul class="pager">
                                       <li class="previous">
                                           <a id="localBack" ng-click="cdLocal(sourceDir)">
                                               <span aria-hidden="true">&larr;</span>Go Up
                                           </a>
                                       </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="panel-body">Available Folders:
                              <ul class="jqueryFileTree"
                                 ng-repeat="folder in localFiles">
                                 <li ng-switch on="folder.Class" class="{{folder.Class}}">
                                     <a id="l{{folder.name}}" ng-switch-when="directory" ng-click="localHighlight(folder)" ng-dblclick="cdLocal(folder)">{{folder.name}}</a>
                                     <a id="l{{folder.name}}" ng-switch-default ng-click="localHighlight(folder)" ng-dblclick="">{{folder.name}}</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td><input type="button" ng-click="uploadCall()" value="Upload" /></td>
                     <td>
                        <div class="progress progress-striped active" ng-show="progressVisible">
                           <div class="progress-bar" style="width: {{progressValue}}%"></div><p>{{progressValue}}% ({{counter}}/{{filesTotal}}) </p>
                        </div>
                        <div ng-show="uploadStatus">
                           <p>({{counter}}/{{filesTotal}}) Done!</p>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
      </div>
    </div>
</div>
