<div class="navbar navbar-hcc">
  <div class="navbar-header">
    <a class="navbar-brand">HCC Go</a>
  </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown"> {{username}}@{{params.clusterId}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
</div>

<div class="container">
    <div class="well clearfix">
      <h2 class="text-center"> Job History </h2>
      <form class="form-horizontal" id="jobhistory" name="jobhistory" role="form" novalidate>
        <div class="panel-group" id="accordion">
           <div class="panel panel-default" ng-repeat="job in jobs">
             <div class="panel-heading jobhistory">
               <h4 class="panel-title jobhistory">
                 {{ job.jobname }}
                 <span class="pull-right">
                   <small class="jobdate"> {{ job.timestamp | date:'M-d-yyyy' }} </small>
                   <button class="btn btn-sm btn-info" ng-click="loadJob(job)">Load Job</button>
                 </span>
                 <button class="btn btn-block jobhistory" data-toggle="collapse" data-parent="#accordion" ng-attr-href="{{ '#collapse' + $index }}">
                   <span class="text-lowercase">click to expand</span> <span class="caret"></span>
                 </button>
               </h4>
             </div>
             <div ng-attr-id="{{ 'collapse' + $index}}" class="panel-collapse collapse">
               <div class="panel-body">
                 <p> Runtime: {{ job.runtime }} </p>
                 <p> Memory: {{ job.memory }} </p>
                 <p> Jobname: {{ job.jobname }} </p>
                 <p> Location: {{ job.location }} </p>
                 <p> Error: {{ job.error }} </p>
                 <p> Output: {{ job.output }} </p>
                 <p> Modules: <span ng-repeat="module in job.modules"> {{module}} </span></p>
                 <p> Commands: {{ job.commands }} </p>
               </div>
             </div>
           </div>
         </div>
        <button type="button" class="btn btn-info" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary pull-right" ng-click="loadDefault()">Create New Job</button>
      </form>
    </div>
</div>
