
<h2 class="header">
  Welcome to HCC Go
</h2>

<div class="container">
  
  
  <div class="row">
    <div class="col-md-4">
      <div class="cluster">
        <h3>Crane</h3>
        <p>
          Crane is a general purpose cluster. 
        </p>
        <button type="button" class="btn btn-primary" ng-click="login('Crane')">Login</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cluster">
        <h3>Tusker</h3>
        <p>
          Tusker is a general purpose cluster. 
        </p>
        <button type="button" class="btn btn-primary" ng-click="login('Tusker')">Login</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cluster">
        <h3>Sandhills</h3>
        <p>
          Sandhills is a general purpose cluster. 
        </p>
        <button type="button" class="btn btn-primary" ng-click="login('Sandhills')">Login</button>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="otherCluster">
        <h3>Add Other Cluster<h3>
      </div>
    </div>
  </div>
  
  
</div>
