<div ng-include="'html/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="card">
          <div class="col-md-12">
            <h3>Jobs Summary</h3>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Running</td>
                  <td>{{numRunning}}</td>
                </tr>
                <tr>
                  <td>Idle</td>
                  <td>{{numIdle}}</td>
                </tr>
                <tr class="danger" ng-show="numError > 0">
                  <td>Error</td>
                  <td>{{numError}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="col-md-12">
            <div class="row">
              <h3>Storage Usage
                <a class="pull-right" href="javascript:void(0)" ng-click="updateGraphs(true)"><i class="
                mdi-action-autorenew" id="graphrefresh"></i></a>
              </h3>
            </div>
            <div class="row">
              <h4 class="usage text-center">/home Usage</h4>
            </div>
            <div class="row">
              <div id="homeUsageGauge"></div>
              <hr />
            </div>
            <div class="row">
              <h4 class="usage text-center">/work Usage</h4>
              <div id="workUsageGauge"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 jobdisplay">
      <div class="card">
          <div class="col-md-4">
          <input type="search" class="form-control" ng-model="q" placeholder="Filter Jobs..." />
      </div>
        <a class="pull-right" href="javascript:void(0)" ng-click="refreshCluster(true)"><i id="jobrefresh" class="mdi-action-autorenew"></i></a>
        <br />
        <hr />
        <div class="list-group">
          <div class="list-group-item jobstatus-link" ng-repeat-start="job in jobs | filter:q | orderBy:'timestamp':true" ng-class="{running: job.running, idle: job.idle, error: job.error, complete: job.complete}" ng-click="viewOutErr(job._id)">
            <div class="row-action-primary">
              <i class="mdi-action-trending-neutral" ng-if="job.running" />
              <i class="mdi-action-query-builder" ng-if="job.idle" />
              <i class="mdi-alert-error" ng-if="job.error" />
              <i class="glyphicon glyphicon-check" ng-if="job.complete" />
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <a class="deleteButton" href="javascript:void(0)" ng-click="removeCompletedJob(job._id, $event)" ng-if="job.complete">
                  <i class="glyphicon glyphicon-remove"></i>
                </a>
              </div>
              <h4 class="list-group-item-heading">{{job.jobName}}</h4>

              <p class="list-group-item-text">
                <span class="jobid">ID: {{job.jobId}}</span>
                <span class="runTime" ng-if="job.running">Runtime: {{job.runTime}}</span>
                <span class="runTime" ng-if="job.complete">Runtime: {{job.elapsed}}</span>
                <span class="runTime" ng-if="job.complete">Required Memory: {{job.reqMem}}</span>
                <span class="startTime" ng-if="!job.running && !job.complete">Estimated Start: {{job.startTime}}</span>
              </p>
            </div>
          </div>
          <div class="list-group-separator" ng-repeat-end ng-if="!$last"></div>
        </div>
      </div>
    </div>

  </div>

</div>
