<div ng-include="'html/navbar.html'"></div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="card">
          <div class="col-md-12">
            <h3>Jobs Summary</h3>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Running</td>
                  <td>{{numRunning}}</td>
                </tr>
                <tr>
                  <td>Idle</td>
                  <td>{{numIdle}}</td>
                </tr>
                <tr class="danger" ng-show="numError > 0">
                  <td>Error</td>
                  <td>{{numError}}</td>
                </tr>
              </tbody>

            </table>
          
            <!--<button href="javascript:void(0)" class="btn btn-primary btn-lg">Submit Job <i class="mdi-navigation-chevron-right"></i></a>
         <button ng-click="goToUpload()" class="btn btn-primary">Upload <i class="mdi-navigation-chevron-right"></i></a>-->
        </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="col-md-12">
            <div class="row">
              <h3>Storage Usage</h3>
            </div>
            <div class="row">
              <h4 class="usage text-center">/home Usage</h4>
            </div>
            <div class="row">
              <div id="homeUsageGauge"></div>
              <hr />
            </div>
            <div class="row">
              <h4 class="usage text-center">/work Usage</h4>
              <div id="workUsageGauge"></div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-md-8 jobdisplay">
      <div class="card">
        <input type="search" ng-model="q" placeholder="filter jobs..." />
        <a class="pull-right" href="javascript:void(0)" ng-click="refreshCluster()"><i class="mdi-action-autorenew"></i></a>
        <hr />
        <ul>
          <li class="animate-repeat" ng-repeat="job in jobs | filter:q as results" ng-class="{running: job.running, idle: job.idle, error: job.error}">
            <div class="row">
              <div class="col-md-1">
                <i class="mdi-action-trending-neutral" ng-if="job.running" />
                <i class="mdi-action-query-builder" ng-if="job.idle" />
                <i class="mdi-alert-error" ng-if="job.error" />
              </div>
              <div class="col-md-11">
                <div class="row">
                  <h3 class="jobname">{{job.jobName}}</h3>
                </div>
                <div class="row">
                  <span class="jobid">ID: {{job.jobId}}</span>
                  <span class="runTime" ng-if="job.running">Runtime: {{job.runTime}}</span>
                  <span class="startTime" ng-if="!job.running">Estimated Start: {{job.startTime}}</span>
                </div>
              </div>
            </div>
            <hr />

          </li>

        </ul>

      </div>
    </div>

  </div>


</div>
