<div> 
      <div class="card col-md-12">
            <div class="row">
                     <div class="col-xs-6 col-sm-4">
                        <div class="panel panel-default width-control">
                           <div class="panel-heading"><h2>Local</h2>
                               <div id="divlocalDir">{{fileManage.localWD}}</div>
                               <nav>
                                   <ul class="pager">
                                       <li class="previous">
                                           <a id="localBack" ng-click="fileManage.cdLocal(fileManage.sourceDir)">
                                               <span aria-hidden="true">&larr;</span>Go Up
                                           </a>
                                       </li>
                                   </ul>
                               </nav>
                           </div>
                           <div class="panel-body scroll" >Available Folders:
                              <ul class="jqueryFileTree"
                                 ng-repeat="folder in fileManage.localFiles">
                                 <li ng-switch on="folder.Class" class="{{folder.Class}}">
                                     <a id="l{{folder.name}}" ng-switch-when="directory" ng-click="fileManage.localHighlight(folder)" ng-dblclick="fileManage.cdLocal(folder)">{{folder.name}}</a>
                                     <a id="l{{folder.name}}" ng-switch-default ng-click="fileManage.localHighlight(folder)" ng-dblclick="">{{folder.name}}</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                   <div class="col-xs-6 col-sm-4">
                      <div class="panel panel-default width-control">
                         <div class="panel-body">
                            <button id="btnDownload" ng-disabled="!fileManage.canDownload" ng-click="fileManage.verifyDownload()" type="button" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Download
                            </button>
                            <button id="btnUpload" ng-disabled="!fileManage.canUpload" ng-click="fileManage.verifyUpload()" type="button" class="btn btn-primary btn-block">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Upload
                            </button>
                            <div class="row">
                                  <div class="col-sm-6">
                                        <button id="btnView" ng-disabled="!fileManage.canView" ng-click="fileManage.viewFile(false)" type="button" class="btn btn-primary btn-block">
                                            View Raw
                                        </button>
                                  </div>
                                  <div class="col-sm-6">
                                        <button id="btnView" ng-disabled="!fileManage.canView" ng-click="fileManage.viewFile(true)" type="button" class="btn btn-primary btn-block">
                                            View Text
                                        </button>
                                  </div>
                            </div>
                            <br/>
                            <div id="tranContent"></div>
                            <div id="fileStats" ng-show="focusFile.location">
                              <h5>Path to file</h5>
                              <p>{{ focusFile.location }}</p>
                              <h5>Size</h5>
                              <p>{{ focusFile.size | humanReadable }}</p>
                              <h5>Last Modified</h5>
                              <p>{{ focusFile.mtime | date: "MMM d, y h:mm:ss a" }}</p>
                            </div>
                         </div>
                      </div>
                     <div class="panel panel-default width-control">
                       <div class="panel-body" ng-show="fileManage.processStatus">
                           <span class="glyphicon glyphicon-refresh glyphicon-animate">
                           </span>
                           Processing...
                       </div>
                       <div class="panel-body" ng-show="fileManage.uploadStatus">
                           <div class="progress progress-striped active" style="height: 20px">
                              <div class="progress-bar" style="width: {{fileManage.totalProgress}}%">
                              </div>
                           </div>
                           <br />
                           Total progress: {{fileManage.totalProgress}}% ({{fileManage.counter}}/{{fileManage.filesTotal}})
                       </div>
                       <div class="panel-body" ng-show="fileManage.processFinished">
                           Done!
                       </div>
                       <div class="panel-body" ng-show="fileManage.userUpAuth">
                        <table style="width: 100%">
                            <tr>
                              <div>Upload location: {{fileManage.remoteWD}}</div>
                              <div>Upload size: {{fileManage.accuSize | humanReadable}}</div>
                              <div>Available space on remote disk: {{fileManage.diskAvail}}%</div>
                              <div>Percent of space to be taken: {{fileManage.diskQuota}}%</div>
                              <span class="text-danger" ng-show="fileManage.remoteOverwrite">This upload will overwrite the file on the cluster</span>
                              <td>
                              <button id="upDeny" ng-click="fileManage.verifyUploadCancel()" type="button" class="btn btn-primary btn-block" style="background-color: #FF0000;">
                               <span aria-hidden="true">Cancel</span>
                              </button>
                           </td>
                           <td style="width: 20%"></td>
                           <td>
                              <button id="upConfirm" ng-click="fileManage.uploadCall()" type="button" class="btn btn-primary btn-block">
                               <span aria-hidden="true">Confirm</span>
                              </button>
                           </td>
                        </tr>
                    </table>
                    </div>
                    <div class="panel-body" ng-show="fileManage.userDownAuth">
                      <table style="width: 100%">
                         <tr>
                            <div>Download location: {{fileManage.localWD}}</div>
                            <div>Download size: {{fileManage.accuSize | humanReadable}}</div>
                            <div>Available space on disk: {{fileManage.diskAvail}}%</div>
                            <div>Percent of space to be taken: {{fileManage.diskQuota}}%</div>
                            <span class="text-danger" ng-show="fileManage.localOverwrite">This download will overwrite the file on your computer</span>
                            <td>
                            <button id="downConfirm" ng-click="fileManage.downloadCall()" type="button" class="btn btn-primary btn-block" style="">
                                <span aria-hidden="true">Confirm</span>
                            </button>
                            </td>
                            <td style="width: 20%"></td>
                            <td>
                            <button id="downDeny" ng-click="fileManage.verifyDownloadCancel()" type="button" class="btn btn-primary btn-block" style="background-color: #FF0000;">
                                <span aria-hidden="true">Cancel</span>
                            </button>
                            </td>
                         </tr>
                      </table>
                     </div>
                     <div class="panel-body" ng-show="fileManage.viewing">
                         <div class="text-center">
                            <span class="glyphicon glyphicon-refresh spinning-image gi-8x"></span>
                            <h4> Loading... </h4>
                         </div>
                         
                     </div>
                   </div>
             </div>
             <div class="col-xs-6 col-sm-4">
                    <div class="panel panel-default width-control">
                    <div class="panel-heading"><h2>Remote</h2> <b><span>{{fileManage.lblRemote}}</span></b> 
                    <div id="divremoteDir">{{fileManage.remoteWD}}</div>
                       <nav>
                            <ul id="remote-directories" class="pager">
                                <li class="previous">
                                    <a id="remoteBack" ng-click="fileManage.cdSSH(fileManage.sourceDir)">
                                        <span aria-hidden="true">&larr;</span>Go Up
                                    </a>
                                </li>
                                <li class="previous">
                                    <a id="remoteSwitch" ng-click="fileManage.wdSwitcher()">
                                        <span aria-hidden="true">&#8646;</span>Switch to <span>{{fileManage.lblSwitch}}</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                   </div>
                   <div class="panel-body scroll">Available Folders:
                      <ul class="jqueryFileTree" 
                         ng-repeat="folder in fileManage.remoteFiles">
                         <li ng-switch on="folder.Class" class="{{folder.Class}}">
                             <a id="r{{folder.name}}" ng-switch-when="directory" ng-click="fileManage.remoteHighlight(folder)" ng-dblclick="fileManage.cdSSH(folder)">{{folder.name}}</a>
                             <a id="r{{folder.name}}" ng-switch-default ng-click="fileManage.remoteHighlight(folder)" ng-dblclick="">{{folder.name}}</a>
                         </li>
                     </ul>
                   </div>
               </div>
            </div>
         </div>
      </div>
    </div>
</div>
