<div ng-include="'html/navbar.html'"></div>

<div class="container">
  <div class="well">
    <h2 class="text-center">Job Submission Script</h2>
    <form class="form-horizontal" id="jobscript" name="jobscript" role="form" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="runtime"> Run Time: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="runtime" name="runtime" ng-model="job.runtime" ng-pattern="/^[0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2}$/" placeholder="03:15:00 (hh:mm:ss)" autofocus required>
          <span class="text-danger" ng-show="jobscript.runtime.$touched && jobscript.runtime.$invalid">
            <span ng-show="jobscript.runtime.$error.required"> Runtime is required. </span>
            <span ng-show="jobscript.runtime.$error.pattern">Incorrect format. Must be hh:mm:ss </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="memory"> Memory: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="memory" name="memory" ng-model="job.memory" ng-pattern="/^[0-9]{4,5}$/" placeholder="1024 (in megabytes)" required>
          <span class="text-danger" ng-show="jobscript.memory.$touched && jobscript.memory.$invalid">
              <span ng-show="jobscript.memory.$error.required"> Memory is required. </span>
              <span ng-show="jobscript.memory.$error.pattern"> Enter as a 4-5 digit number of megabytes. </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="jobname"> Job Name: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="jobname" name="jobname" ng-model="job.jobname" placeholder="hello-world" required>
          <span class="text-danger" ng-show="jobscript.jobname.$touched && jobscript.jobname.$invalid">
              <span ng-show="jobscript.jobname.$error.required"> Job name is required. </span>
          </span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': jobscript.location.$error.remoteWritable}">
          <label class="control-label col-sm-2" for="location"> Locaton </label>
          <div class="col-sm-10">
            <!-- ng-pattern="/^.*\.slurm$/" -->
            <div class="right-inner-addon">
              <input type="text" class="form-control" id="location" name="location" ng-model="job.location"  placeholder="loading work folder" required remote-writable />
              <div class="status-checkstatus">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px"     y="0px"
                viewBox="0, 0, 100, 100" id="checkmark">
                  <g transform="">
                    <circle class="status-fill" ng-class="{'status-fill-complete': (!jobscript.location.$error.remoteWritable && !jobscript.location.$pending.remoteWritable) || (jobscript.location.$error.remoteWritable), 'status-successs': !jobscript.location.$error.remoteWritable && !jobscript.location.$pending.remoteWritable, 'status-failure': jobscript.location.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44"/> 
  	                  <polyline class="status-check" ng-class="{'status-check-complete': !jobscript.location.$error.remoteWritable && !jobscript.location.$pending.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                        points="70,35 45,65 30,52  "/>
                      <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.location.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                        points="30,30 70,70"/>
                      <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.location.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                        points="30,70 70,30"/>
                  </g>
                </svg>
              </div>
            </div>
              <span class="text-danger" ng-show="jobscript.location.$touched && jobscript.location.$invalid">
                  <span ng-show="jobscript.location.$error.required"> Location is required. </span>
                  <span ng-show="jobscript.location.$error.pattern"> Must end in .slurm </span>
              </span>
          </div>
      </div>
      <div class="form-group" ng-class="{'has-error': jobscript.error.$error.remoteWritable}">
        <label class="control-label col-sm-2" for="error"> Error: </label>
        <div class="col-sm-10">
          <div class="right-inner-addon">
            <input type="text" class="form-control" id="error" name="error" ng-model="job.error" ng-pattern="/^.*\.err$/" placeholder="loading work folder" required remote-writable>
            <div class="status-checkstatus">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px"     y="0px"
              viewBox="0, 0, 100, 100" id="checkmark">
                <g transform="">
                  <circle class="status-fill" ng-class="{'status-fill-complete': (!jobscript.error.$error.remoteWritable && !jobscript.error.$pending.remoteWritable) || (jobscript.error.$error.remoteWritable), 'status-successs': !jobscript.error.$error.remoteWritable && !jobscript.error.$pending.remoteWritable, 'status-failure': jobscript.error.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44"/> 
                    <polyline class="status-check" ng-class="{'status-check-complete': !jobscript.error.$error.remoteWritable && !jobscript.error.$pending.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="70,35 45,65 30,52  "/>
                    <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.error.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="30,30 70,70"/>
                    <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.error.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="30,70 70,30"/>
                </g>
              </svg>
            </div>
          </div>
          <span class="text-danger" ng-show="jobscript.error.$touched && jobscript.error.$invalid">
              <span ng-show="jobscript.error.$error.required"> Error is required. </span>
              <span ng-show="jobscript.error.$error.pattern"> Must end in .err </span>
          </span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': jobscript.output.$error.remoteWritable}">
        <label class="control-label col-sm-2" for="output"> Output: </label>
        <div class="col-sm-10">
          <div class="right-inner-addon">
            <input type="text" class="form-control" id="output" name="output" ng-model="job.output" ng-pattern="/^.*\.out$/" placeholder="loading work folder" required remote-writable>
            <div class="status-checkstatus">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px"     y="0px"
              viewBox="0, 0, 100, 100" id="checkmark">
                <g transform="">
                  <circle class="status-fill" ng-class="{'status-fill-complete': (!jobscript.output.$error.remoteWritable && !jobscript.output.$pending.remoteWritable) || (jobscript.output.$error.remoteWritable), 'status-successs': !jobscript.output.$error.remoteWritable && !jobscript.output.$pending.remoteWritable, 'status-failure': jobscript.output.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44"/> 
                    <polyline class="status-check" ng-class="{'status-check-complete': !jobscript.output.$error.remoteWritable && !jobscript.output.$pending.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="70,35 45,65 30,52  "/>
                    <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.output.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="30,30 70,70"/>
                    <polyline class="status-anx" ng-class="{'status-anx-complete': jobscript.output.$error.remoteWritable}" fill="none" stroke="#7DB0D5" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" 
                      points="30,70 70,30"/>
                </g>
              </svg>
            </div>
          </div>
          <span class="text-danger" ng-show="jobscript.output.$touched && jobscript.output.$invalid">
              <span ng-show="jobscript.output.$error.required"> Output is required. </span>
              <span ng-show="jobscript.output.$error.pattern"> Must end in .out </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="modules"> Modules: </label>
        <div class="col-sm-10">
          <select class="form-control servers" id="modules" ng-model="job.modules">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="commands"> Commands: </label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="5" id="commands" ng-model="job.commands" required></textarea>
          <span class="text-danger" ng-show="jobscript.commands.$touched && jobscript.commands.$invalid">
              <span ng-show="jobscript.commands.$error.required"> Commands are required. </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2">
          <button type="button" class="btn btn-info" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col-sm-offset-8 col-sm-2">
          <button type="submit" class="btn btn-primary" id="submitbtn" ng-click="writeSubmissionScript(job)" ng-disabled="jobscript.$invalid">Submit</button>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="submitprogress" role="progressbar" aria-valuemax="100">
          <span id="progresssummary"></span>
        </div>
      </div>
    </form>
  </div>
</div>
