<div ng-controller="NavCtrl">

<div class="navbar navbar-hcc">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ng-click="servicer.goHome()" class="navbar-brand" href="javascript:void(0)">
        <img class="navIcon" src="../icons/HCCGo.png" />
        <span class="imageSubtitle">Beta</span>
    </a>
  </div>

  <div class="navbar-collapse collapse navbar-responsive-collapse" id="myNavbar">
  <!--File Management Dropdown -->
    <ul class="nav navbar-nav">
      <li>
       <button type="button"
           ng-click="servicer.jobHistory()"
           class="navbar-left btn btn-success navbar-btn btn-primary">
               Submit
       </button>
      </li>
     <li>
       <button type="button"
           ng-click="servicer.goToSCP()"
           class="navbar-left btn btn-secondary navbar-btn btn-primary">
               File Management
       </button>
     </li>
     <li>
       <button type="button"
           ng-click="servicer.goToTutorials()"
           class="navbar-left btn btn-info navbar-btn">
               Tutorials
       </button>
     </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li ng-controller="updateButtonCtrl">
        <button type="button" 
        ng-click="updateDialog()"
        class="btn btn-info navbar-btn"
        ng-show="updateAvailable">
        Update Available
        </button>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" data-target="#" 
		   class="dropdown-toggle" 
		   data-toggle="dropdown"> {{servicer.username}}@{{servicer.host}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ng-click="servicer.logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div> <!-- End NavCtrl -->
