<div ng-controller="NavCtrl">
  <div class="sidebar">
		<div class="profile-userpic">
			<img class="navIcon" src="../icons/HCCGo.png" width="100px" height="100px"/>
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				{{servicer.username}}
			</div>
			<div class="profile-usertitle-host">
				{{servicer.host}}
			</div>
		</div>
		<!-- END SIDEBAR USER TITLE -->
		<!-- SIDEBAR BUTTONS -->
		<div class="profile-userbuttons">
			<button type="button" class="btn btn-danger btn-sm" ng-click="servicer.logout()">Logout</button>
		</div>
		
    
    <div class="profile-usermenu">
			<ul class="nav">
				<li ng-class="{ 'active': isActive('/cluster') }">
					<a ng-click="servicer.goToDashboard()">
					<i class="glyphicon glyphicon-stats"></i>
					Dashboard </a>
				</li>
				<li ng-class="{ 'active': isActive('/jobHistory') || isActive('/jobSubmission') }">
					<a ng-click="servicer.jobHistory()">
					<i class="glyphicon glyphicon-user"></i>
					Submit </a>
				</li>
				<li ng-class="{ 'active': isActive('/filesystem') }">
					<a ng-click="servicer.goToSCP()">
					<i class="glyphicon glyphicon-folder-open"></i>
					File Management </a>
				</li>
				<li ng-class="{ 'active': isActive('/tutorials') }">
					<a ng-click="servicer.goToTutorials()">
					<i class="glyphicon glyphicon-flag"></i>
					Tutorials </a>
				</li>
			</ul>
		</div>
  </div>
</div> <!-- End NavCtrl -->
