
<div class="navbar navbar-hcc navbar-welcome">
  <div class="navbar-header">
    <div class="navbar-brand">
      <div class="element-title">HCC Go</div>
      <div class="element-subtitle"><b>Beta</b></div>
    </div>
  </div>
</div>

<div class="modal fade" id="betaModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">HCCGo Beta!</h4>
      </div>
      <div class="modal-body" ng-include="'html/beta_notice.html'">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well" id="loginForm">
        <form class="form-horizontal" ng-submit="login()">
          <fieldset>
            <legend>Login with HCC Credentials</legend>
            <div class="form-group">
              <label for="clusterSelect" class=" control-label col-lg-2">Cluster</label>
              <div class="col-lg-10">
                <select class="form-control servers" id="clusterSelect">
                </select>
              </div>
            </div>
            <div class="form-group">
                <label for="inputUsername" class=" control-label col-lg-2">Username</label>
              <div class="col-lg-10">
                <input type="text" ng-model="username" class="form-control floating-label" id="inputUsername" autofocus></input>
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class=" control-label col-lg-2">Password</label>
              <div class="col-lg-10">
                <input type="password" ng-model="password" class="form-control empty" id="inputPassword" ></input>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="debugWindow" id="LoginDebugWindow">
        This is a test
      </div>
    </div>
  </div>

  <div class="modal" id="promptModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <form ng-submit="promptComplete()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Server Challenge</h4>
            </div>
            <div class="modal-body">
                <p><pre>{{ userPrompt }}</pre></p>
                <input type="text" ng-model="userResponse" id="userPromptInput" placeholder="response" class="form-control empty"></input>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
    </div>
</div>

</div>
